
<div>



    <div class="row">
        <!--Default Pannel, Primary Panel And Success Panel   -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="headline">SAM Web</h4>
                </div>
                <div style="height:250px;background-image:url('images/profilesettings.png')">



                </div>
                <div class="panel-body">
                    <p>SAM Web</p>
                </div>
                <div class="panel-footer" align="right">
                   <a href="http://sam.smec.co.za" target="_blank"><button class="btn btn-md btn-warning" >Launch</button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="headline">Projects</h4>
                </div>
                <div style="height:250px;background-image:url('images/projects.png')">



                </div>
                <div class="panel-body">
                    <p>Manage your personal settings</p>
                </div>
                <div class="panel-footer" align="right">
                    <button class="btn btn-md btn-warning"  ui-sref=projects>Launch</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="headline">IOT Asset Dashboard</h4>
                </div>
                <div style="height:250px;background-image:url('images/wso2geo.png')">



                </div>
                <div class="panel-body">
                    <p>View and manage your assets spatially</p>
                </div>
                <div class="panel-footer" align="right">
                    <button class="btn btn-md btn-warning">Launch</button>
                </div>
            </div>
        </div>

        <!--End Default Pannel, Primary Panel And Success Panel   -->
    </div>
</div>


            
